page-product {
    .label-description {
        color: black;
        font-size: 100%;
        text-align: center;
    }
    .label-price {
        padding-bottom: 20px;
        padding-top: 0px;
    }
    .ion-title {
        text-align: center;
    }
    .scroll-content {
        overflow: overlay;
    }

    .label-left {
    	text-align: left;
    }

   .vertical{
	   width: 0px;
	   height: 100%; /* or height in PX */
	} 
	.swiper-pagination{
		bottom: 10px !important;
	}

    .full-width-img{
        width: 100%;
    }
    .fix-card-left {
        width: 100%;
        margin-left: -18px;
        text-align: center;
        min-height: 250px;
        min-width: 175px;
    }
      .fix-card-right {
        width: 100%;
        margin-right: -10px;
        margin-left: -10px;
        text-align: center;
        min-height: 250px;
        min-width: 175px;
    }
    .fix-all-cate{
        margin-top: 90px;
    }
   
}

